// Reset the box-sizing
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/ (performance is not an issue)
*,
*:before,
*:after {
    box-sizing: border-box;
}


// Default reset styles 
html {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #1a1a1a;
    background-color: #fff;
    font-family: 'Ropa Sans', sans-serif;
    font-feature-settings: "kern";
    text-rendering: optimizeLegibility;
}



